################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Can I retire yet/bin/Debug
/Can I retire yet/obj
